@use 'src/components/style/foundation/mixins' as mixins;
@use 'src/components/style/foundation/typography' as typography;
@use 'src/components/style/foundation/colors' as colors;
@use 'src/components/style/foundation/spacing' as spacing;
@use 'src/components/style/foundation/media-queries' as media;

.Loader {
  text-align: center;
}

.Header {
  padding: spacing.spacing(base);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.HeaderLinks {
  margin: 0 0 spacing.spacing() 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media(media.$media-query--mobile-up) {
    flex-direction: row;
  }

  a {
    display: inline-block;
    margin: 0 0 spacing.spacing(tight) 0;
    text-align: center;

    @include media.media(media.$media-query--mobile-up) {
      margin: 0 spacing.spacing(loose) 0 0;
      display: inline;
    }
  }
}

.RefinementsWrapper {
  padding: spacing.spacing(base);
}

.CurrentRefinements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HitsCount {
  font-size: typography.font-size(body, smaller);
  margin: 0;
}

.LinkGroup button,
.LinkGroup a {
  margin: 0 spacing.spacing(loose) 0 0;
}

.OnlineRadios {
  margin-bottom: spacing.spacing(base);
  display: flex;

  input {
    width: auto;
  }

  label {
    margin-right: spacing.spacing(loose);
    cursor: pointer;
  }

  input {
    margin: 0 spacing.spacing(tight) 0 0;
  }

  label {
    display: flex;
    align-items: center;
  }

  @include media.media(media.$media-query--mobile--vertical) {
    flex-direction: column;

    label {
      margin-bottom: spacing.spacing(extra-tight);
    }
  }
}
