@use '../style/foundation/spacing' as spacing;
@use '../style/foundation/colors' as colors;

.SponsoredConference {
  margin-bottom: spacing.spacing(base);
  align-items: center;
  display: flex;

  p {
    margin: 0;
    line-height: 1.5em;
  }
}

.Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.full {
  flex: 1;
}

.sponsored {
  font-variant: small-caps;
  font-weight: 600;
  color: colors.color(gray);
}

.Image {
  margin-right: spacing.spacing();
  height: 70px;
  width: 140px;
  object-fit: contain;
  display: block;
}

.Footer {
  font-weight: 200;
  color: colors.color(gray);
}

.promocode {
  text-decoration: underline;
  white-space: nowrap;
}
