@import 'src/components/style/foundation/mixins';
@import 'src/components/style/foundation/typography';
@import 'src/components/style/foundation/colors';
@import 'src/components/style/foundation/spacing';

.Loader {
  text-align: center;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.HeaderLinks {
  margin: 0 0 spacing(loose) 0;

  a {
    margin-right: spacing(loose);
  }
}
