{
  "env": {
    "node": {
      "plugins": ["transform-es2015-modules-commonjs"],
      "presets": ["env"]
    },
    "development": {
      "presets": ["react-app"]
    },
    "production": {
      "presets": ["react-app"]
    },
    "test": {
      "presets": ["react-app"]
    }
  }
}
