{
  "env": {
    "node": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"],
      "presets": ["@babel/preset-env"]
    },
    "development": {
      "presets": ["react-app"]
    },
    "production": {
      "presets": ["react-app"]
    },
    "test": {
      "presets": ["react-app"]
    }
  }
}
