{
  "extends": ["plugin:shopify/react", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "jsx-a11y/no-onchange": "off",
    "sort-class-members/sort-class-members": "off",
    "react/prop-types": "off",
    "array-callback-return": "off",
    "no-process-env": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "function-paren-newline": "off",
    "react/no-typos": "off",
    "react/no-unused-state": "off"
  }
}
