{
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "prettier",
    "jsx-a11y"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "jsxSingleQuote": true,
      "semi": false
      }],
    "jsx-a11y/no-onchange": "off",
    "sort-class-members/sort-class-members": "off",
    "react/prop-types": "off",
    "array-callback-return": "off",
    "no-process-env": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "function-paren-newline": "off",
    "react/no-typos": "off",
    "react/no-unused-state": "off"
  }
}
