@import '../style/foundation/spacing';
@import '../style/foundation/colors';

.hidden {
  display: none;
}

.StayTuned {
  margin: spacing() 0;
  padding: spacing();
  background: color(accent-2, pale);
  border-radius: 3px;
  position: relative;
}

.Content {
  margin-top: spacing();
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  > a {
    margin-top: spacing(tight);
  }
}

.FormFirstLine {
  flex-wrap: nowrap;
  display: flex;
  margin-right: spacing()
}

.GDPR {
  display: flex;
  align-content: center;
  margin-top: spacing(tight);

  label {
    line-height: 1.2;
  }

  input {
    margin-right: spacing(tight);
  }
}

.EmailInput {
  max-width: 15em;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Button {
  width: auto;
  background-color: color(gray, lighter);
  display: inline-block;
  padding: spacing(tight) spacing();
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0, 1.16, 1, 1);

  &:disabled {
    opacity: 0.8;
    color: color(gray);
  }

  &:hover:not([disabled]) {
    background-color: color(gray, light);
  }
}

.Close {
  position: absolute;
  top: spacing();
  right: spacing();
  font-size: 0.9em;
}
