@import '../style/foundation/mixins';
@import '../style/foundation/typography';
@import '../style/foundation/colors';
@import '../style/foundation/spacing';

.Loader {
  text-align: center;
}

.Header,
.CfpHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.active {
  font-weight: 600;
  @include link--hover();
}
