@import 'src/components/style/foundation/mixins';
@import 'src/components/style/foundation/typography';
@import 'src/components/style/foundation/colors';
@import 'src/components/style/foundation/spacing';

.Loader {
  text-align: center;
}

.Header,
.CfpHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.active {
  font-weight: 600;
  @include link--hover();
}

.topLinks {
  a {
    margin-right: spacing(loose);
  }
}
