@import '../style/foundation/typography';
@import '../style/foundation/colors';
@import '../style/foundation/spacing';

.Loader {
  text-align: center;
}

.Header,
.CfpHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.PageContainer {
  display: flex;
  height: 100vh;
  padding-left: spacing();

  > div:first-child {
    flex: 1;
  }
}
