@import '../style/foundation/mixins';
@import '../style/foundation/typography';
@import '../style/foundation/colors';
@import '../style/foundation/spacing';

:global(.ais-RefinementList) {
  margin-bottom: spacing(extra-loose);
}

:global(.ais-RefinementList-list) {
  display: flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

:global(.ais-RefinementList-item) {
  margin-right: spacing(loose);
  margin-bottom: spacing(tight);
  list-style: none;
}

:global(.ais-RefinementList-checkbox) {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

:global(.ais-RefinementList-label) {
  @include link();

  &:focus {
    background: black;
  }

  &:hover {
    @include link--hover();
  }
}

:global(:not(.ais-RefinementList-item--selected))
  :global(.ais-RefinementList-checkbox:focus)
  + :global(.ais-RefinementList-labelText) {
  outline-style: auto;
}

:global(.ais-RefinementList-item--selected) :global(.ais-RefinementList-labelText) {
  @include link--hover();
}

:global(.ais-RefinementList-count) {
  border-radius: 30px;
  background-color: color(gray, lighter);
  color: color(accent, dark);
  font-size: font-size(filter, itemCount);
  padding: 0 6px;
}

:global(.ais-RefinementList-showMore) {
  @include link();
  font-size: 0.9em;
  &:hover {
    @include link--hover();
  }
}
