@import '../style/foundation/typography';
@import '../style/foundation/colors';
@import '../style/foundation/spacing';

:global(.ais-RefinementList__root) {
  margin-bottom: spacing(base);
}

:global(.ais-RefinementList__items) {
  display: flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

:global(.ais-RefinementList__item) {
  margin-right: spacing(base);
  margin-bottom: spacing(tight);
}

:global(.ais-RefinementList__itemCheckbox) {
  display: none;
}

@mixin selected-link() {
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background: color(accent-2);
  }
}

:global(.ais-RefinementList__itemLabel) {
  color: color(accent);
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  border: none;
  padding: 0;
  font-size: font-size(body);
  font-weight: 500;
  font-family: font-family(base);

  &:hover,
  &.Selected {
    @include selected-link();
  }
}

:global(.ais-RefinementList__itemLabelSelected) {
  @include selected-link();
}

:global(.ais-RefinementList__itemCount) {
  // display: none;
  border-radius: 31px;
  background-color: color(gray, lighter);
  color: color(accent);
  font-size: font-size(filter, itemCount);
  padding: 2px 10px;
}
