@import '../style/foundation/mixins';
@import '../style/foundation/typography';
@import '../style/foundation/colors';
@import '../style/foundation/spacing';

:global(.ais-RefinementList__root) {
  margin-bottom: spacing(base);
}

:global(.ais-RefinementList__items) {
  display: flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

:global(.ais-RefinementList__item) {
  margin-right: spacing(loose);
  margin-bottom: spacing(tight);
}

:global(.ais-RefinementList__itemCheckbox) {
  display: none;
}

:global(.ais-RefinementList__itemLabel) {
  @include link();

  &:hover {
    @include link--hover();
  }
}

:global(.ais-RefinementList__itemLabelSelected) {
  @include link--hover();
}

:global(.ais-RefinementList__itemCount) {
  border-radius: 30px;
  background-color: color(gray, lighter);
  color: color(accent);
  font-size: font-size(filter, itemCount);
  padding: 0 6px;
}

:global(.ais-RefinementList__showMore) {
  @include link();
  font-size: 0.9em;
  &:hover {
    @include link--hover();
  }
}
