@import 'src/components/style/foundation/typography';

.AppContainer {
  font-family: font-family(base);
}

.App {
  padding: 1em;
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
}

:global(.theme--dark) {
  background-color: #181818;
  color: white;
}
