@use 'src/components/style/foundation/typography' as typography;
@use 'src/components/style/foundation/colors' as colors;

.AppContainer {
  font-family: typography.font-family(base);
}

.App {
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
}
