@import '../style/foundation/typography';
@import '../style/foundation/colors';
@import '../style/foundation/spacing';

select {
  font-size: 1.2em;
}

input, textarea {
  padding: spacing(tight);
  font-size: font-size(body);
  background-color: #ffffff;
  border: 1px solid color(gray, light);
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.InputGroup {
  margin-bottom: spacing(base);
  max-width: 500px;

  label {
    margin-bottom: spacing(tight);
    display: block;
  }
}

.InputGroupInline {
  display: flex;
  max-width: 500px;

  > div {
    margin-right: spacing(base);

    &:last-child {
      margin-right: 0;
    }
  }
}

.Button {
  font-size: 1.2em;
  font-family: inherit;
  padding: spacing(tight) spacing(base);
  background: none;
  display: block;
  border-radius: 3px;
  margin-top: spacing(loose);
  margin-bottom: spacing(extra-loose);
  transition: all 150ms ease-out;
  cursor: pointer;

  &:not([disabled]):hover {
    background-color: #EEE;
  }
}

:global(.g-recaptcha) {
  margin-top: spacing();
}

.error {
  border-color: red;
  color: red;
}

.errorText {
  color: #ff0000;
}
