@import '../style/foundation/typography';
@import '../style/foundation/colors';
@import '../style/foundation/spacing';

select {
  font-size: 1.2em;
}

input {
  padding: spacing(tight);
  font-size: font-size(body);
  background-color: #ffffff;
  border: 1px solid color(gray, light);
  border-radius: 3px;
}

.InputGroup {
  margin-bottom: spacing(base);
  label {
    margin-bottom: spacing(tight);
    display: block;
  }
}

.InputGroupInline {
  display: flex;
  > div {
    margin-right: spacing(base);
  }
}

.Button {
  font-size: 1.2em;
  font-family: inherit;
  padding: spacing(tight) spacing(base);
  background: none;
  display: block;
  border-radius: 3px;
  margin-top: spacing(extra-loose);
  transition: all 150ms ease-out;
  cursor: pointer;

  &:hover {
    background-color: #EEE;
  }
}

:global(.g-recaptcha) {
  margin-top: spacing();
}

.error {
  border-color: red;
  color: red;
}

.errorText {
  color: #ff0000;
  font-size: 0.9em;
}
