@import '../style/foundation/spacing';
@import '../style/foundation/colors';

.Wrapper {
  margin-bottom: spacing(base);
}

.Label {
  font-size: 0.9em;
}

.Select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: color(gray, lighter);
  border: 1px solid transparent;
  letter-spacing: normal;
  line-height: 1rem;
  margin: 0;
  padding: spacing(tight) spacing(base);
  position: relative;
  text-transform: none;
  width: 100%;
}
