@import '../style/foundation/colors';
@import '../style/foundation/spacing';

.ConferenceFilter {
  display: flex;
  align-items: center;
  margin-right: spacing(loose);
  margin-bottom: spacing(base);
  flex-wrap: wrap;
}

.Filter {
  margin-right: spacing(base);
  margin-bottom: spacing(tight);
}
