@import '../style/foundation/spacing.scss';

.ConferenceFilterWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ConferenceFilter {
  display: flex;
  align-items: center;
  margin-right: spacing(loose);
  margin-bottom: spacing(base);
}

.Filter {
  margin-right: spacing(base);
}
