@use 'src/components/style/foundation/spacing' as spacing;
@use 'src/components/style/foundation/colors' as colors;

.Card {
  padding: spacing.spacing(loose);
  border-radius: 4px;
  border: 1px solid colors.color(gray, lighter);
  box-shadow: 0px 0px 10px colors.color(gray, lighter);
  margin-bottom: spacing.spacing(loose);

  :global(.theme--dark) & {
    border-color: colors.color(gray, darker);
    box-shadow: 0px 0px 10px colors.color(gray, darker);
  }
}
