@use 'src/components/style/foundation/colors' as colors;

.Divider {
  border: none;
  border-bottom: 2px inset colors.color(gray, lighter);

  :global(.theme--dark) & {
    border-bottom: 2px inset colors.color(gray, darker);
  }
}
