@import '../style/foundation/mixins';
@import '../style/foundation/spacing';
@import '../style/foundation/typography';
@import '../style/foundation/colors';

.Heading {
  font-weight: bold;
  font-family: font-family(heading);
}

.Inner {
  display: inline-block;
  position: relative;
}

.Heading-1 {
  font-size: 2.5em;
  font-weight: normal;
  margin: spacing(extra-loose) 0 0 0;
  position: relative;

  .Inner {
    @include underlined();
    &::after {
      bottom: 6px;
    }
  }
}

.Heading-sub {
  font-size: 1em;
  font-family: font-family(base);
  margin: 0 0 spacing(extra-loose) 0;
  font-weight: normal;
  color: color(gray);
}

.Heading-2 {
  font-size: 2em;
}

.Heading-3 {
  font-size: 1.5em;
  margin-top: spacing(extra-loose);
  margin-bottom: spacing(loose);

  .Inner {
    @include underlined();
  }
}

.Heading-4 {
  margin-top: 0;
  margin-bottom: spacing(extra-tight);
  font-size: 1.2em;
}
