@import '../style/foundation/spacing.scss';
@import '../style/foundation/colors.scss';

.Heading {
  font-weight: 500;
}

.Inner {
  display: inline-block;
  position: relative;
}

.Heading-1 {
  font-size: 2.5em;
}

.Heading-2 {
  font-size: 2em;
}

.Heading-3 {
  font-size: 1.5em;
  margin-top: spacing(extra-loose);
  margin-bottom: spacing(loose);

  .Inner::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 8px;
    background: color(accent-2);
  }
}

.Heading-4 {
  margin-top: 0;
  margin-bottom: spacing(extra-tight);
  font-size: 1.2em;
}
