@import 'src/components/style/foundation/spacing';
@import 'src/components/style/foundation/colors';

.ConferenceList {
  width: 100%;
  padding: spacing(base);

  ul {
    list-style: none;
    padding: 0;
  }
}

.Year {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: spacing(loose) 0 spacing(base) 0;
  position: sticky;
  top: 0;
  padding: spacing(base);
  z-index: 10;
  border-bottom: 1px solid color(grey, lighter);
  background-color: color(background, light);

  :global(.theme--dark) & {
    border-bottom: 1px solid color(grey, darker);
    background-color: color(background, dark);
  }

  h2 {
    margin: 0;
  }
}

.AddConference {
  text-align: right;
  > div {
    margin-bottom: 0.5em;
  }
}

.NoResults {
  text-align: center;
  font-size: 0.9em;
  margin: spacing(extra-loose);
}

.dateRangePicker {
  display: flex !important;
  flex-direction: row !important; // Force it to be in a row
  gap: 0.5rem !important;
  align-items: center !important;
  padding: 0.5rem !important;

  .customDatePicker {
    border: 1px solid #d1d5db !important;
    padding: 0.25rem !important;
    width: auto !important;
    max-width: 12rem !important;
    height: 35px !important;
    color: black !important;
    border-radius: 0.375rem !important;
  }
}
