@import 'src/components/style/foundation/spacing';

.ConferenceList {
  width: 100%;
}

.Year {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: spacing(loose) 0 spacing(base) 0;

  h2 {
    margin: 0;
  }
}

.AddConference {
  text-align: right;
  > div {
    margin-bottom: 0.5em;
  }
}

.NoResults {
  text-align: center;
  font-size: 0.9em;
  margin: spacing(extra-loose);
}
