@import '../style/foundation/spacing';
@import '../style/foundation/colors';

.ConferenceItem {
  margin-bottom: spacing(base);
}

.Date {
  margin-right: spacing(tight);
}

.p {
  margin: 0;
  line-height: 1.5em;
}

.dd {
  margin-left: 0;
}

.Footer,
.Footer a {
  font-weight: 200;
  color: color(gray);
}

.topics {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topic {
  margin-right: spacing(extra-tight);
  vertical-align: middle;
}
