@import '../style/foundation/spacing';
@import '../style/foundation/colors';

.ConferenceItem {
  margin-bottom: spacing(base);
}

.dl {
  margin: 0;
  line-height: 1.5;
  &::after {
    content: "";
    clear: both;
    display: table;
  }

  div {
    float: left;
    &:nth-child(3) {
      clear: left;
    }
  }
  dd {
    margin-left: 0;
  }
}

.seperator {
  display: inline-block;
  margin: 0 spacing(extra-tight);
}
.Footer,
.Footer a {
  font-weight: 200;
  color: color(gray);
}

.topics {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.topic {
  margin-right: spacing(extra-tight);
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
}
