@import '../style/foundation/spacing';

.ConferenceListContainer {
  padding: spacing();
  flex: 1;
  height: 100vh;
  overflow: scroll;
}

.MapContainer {
  flex: 1;
}

.ConferenceList {
  width: 100%;
}

.Year {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: spacing(loose) 0 spacing(base) 0;

  h2 {
    margin: 0;
  }
}

.AddConference {
  text-align: right;
  > div {
    margin-bottom: 0.5em;
  }
}
