@import '../style/foundation/spacing';
@import '../style/foundation/typography';
@import '../style/foundation/colors';

.Footer {
  padding-top: spacing(extra-loose);
  color: color(gray);
  margin-bottom: spacing(base);
  line-height: line-height(footer);

  &, a {
    font-size: font-size(footer);
  }
}

.FooterLinks a {
  margin-right: spacing(base);
}
