@import '../style/foundation/spacing';
@import '../style/foundation/typography';
@import '../style/foundation/colors';

.Footer {
  padding-top: spacing(extra-loose);
  color: color(gray);
  margin-bottom: spacing(base);
  line-height: line-height(footer);

  &, a {
    font-size: font-size(footer);
  }
}

.FooterLinks a {
  margin-right: spacing(base);
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
