@use 'src/components/style/foundation/typography' as typography;
@use 'src/components/style/foundation/spacing' as spacing;

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Content {
  padding: spacing.spacing();
}

.narrow {
  max-width: 600px;
  padding: spacing.spacing();

  p,
  ul,
  p a {
    font-size: typography.font-size(page);
    line-height: typography.line-height(page);
  }
}

