:global(:root) {
  overflow-y: scroll;
}

:global(body) {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
  background-color: #efefef;
}

:global(.visuallyHidden) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

:global(.leaflet-container) {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
