@use 'src/components/style/foundation/mixins' as mixins;
@use 'src/components/style/foundation/typography' as typography;
@use 'src/components/style/foundation/colors' as colors;

.Link {
  @include mixins.link();

  &:hover,
  &.Selected {
    @include mixins.link--hover();
  }
}

.unstyled {
  text-decoration: none;
}

.muted {
  color: colors.color(gray);

  :global(.theme--dark) & {
    color: colors.color(gray);
  }
}
