@import '../style/foundation/colors.scss';

.Link {
  color: color(accent);
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &.Selected {
    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 3px;
      background: color(accent-2);
    }
  }
}
